@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
}
html.dark {
  --background: linear-gradient(
    270deg,
    rgba(53, 38, 38, 1) 15%,
    rgba(33, 24, 37, 1) 52%,
    rgba(2, 0, 35, 1) 100%
  );
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-para);
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input {
  font-family: var(--font-heading);
}
